version: '3.8'

services:
    # api_withauth:
        # build:
            # context: ../API_WithAuth/API_WithAuth
            # dockerfile: Dockerfile
        # image: hassecore/api_withauth
        # ports:
            # - "${API_WITHAUTH_PORT}:${CONTAINER_PORT}"
        # environment:
            # - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
        # env_file:
            # - .env
        # networks:
            # - joakims-playground-network

    # auth_server:
        # build:
            # context: ../RoleBasedAuthServer/RoleBasedAuthServer
            # dockerfile: Dockerfile
        # image: hassecore/rolebasedauthserver
        # ports:
            # - "${AUTH_PORT}:${CONTAINER_PORT}"
        # env_file:
            # - .env
        # networks:
            # - joakims-playground-network
    
    mvc_auth_server:
        build:
            context: RoleBasedAuthServer/AuthServer_MVC/AuthServer
            dockerfile: AuthServer/Dockerfile
        image: hassecore/mvc_auth_server
        ports: 
            - "${MVC_AUTH_PORT}:${CONTAINER_PORT}"
        env_file:
            - .env
        networks:
            - joakims-playground-network

    api:
        build:
            context: ../API/Hassecore.API
            dockerfile: ..API/Hassecore.API/Hassecore.API/Dockerfile
        image: hassecore/hassecore_api
        ports: 
            - "${API_PORT}:${CONTAINER_PORT}"
        env_file:
            - .env
        networks:
            - joakims-playground-network

networks:
    joakims-playground-network:
        name: joakims-playground-network